// main: style.scss
header {
  background-color: $astblack;

  .logo {
    img {
      height: 100%;
      max-height: 50px;
    }
  }

  .nav {
    .nav-link {
      color: $astwhite;
      border-color: $astwhite;
      font-size: 0.8rem;

      &:hover {
        color: $astpink;
        background-color: $astblack;
      }
    }
  }
}
