// main: style.scss
.hero-container {
  background-color: $astwhite;
  position: relative;

  &::after {
    content: "";
    display: block;
    padding-bottom: 56.25%;
  }

  .hero-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .hero-inner-container {
      width: 100%;
      height: 100%;
      position: relative;

      .slides {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &.slide1 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            animation: slide1-img 10s linear 0s infinite normal;
          }
        }

        &.slide2 {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            animation: slide2-img 10s linear 0s infinite normal;
            will-change: animation, opacity;
          }
        }

        &.slide3 {
          .lead1 {
            position: absolute;
            width: 65%;
            top: 10%;
            animation: slide3-lead1 10s ease 0s infinite normal;
            will-change: animation, opacity;
          }
        }

        &.slide4 {
          .lead2 {
            position: absolute;
            z-index: 10;
            width: 65%;
            bottom: 10%;
            animation: slide4-lead2 10s ease 0s infinite normal;
            will-change: animation, opacity;
          }
          .image1 {
            position: absolute;
            z-index: 5;
            width: 30%;
            left: 10%;
            filter: drop-shadow(10px 10px 3px $astgray);
            animation: slide4-image1 10s ease 0s infinite normal;
            will-change: animation, opacity;
          }
          .image2 {
            position: absolute;
            z-index: 1;
            width: 40%;
            top: 10%;
            filter: drop-shadow(10px 10px 3px $astgray);
            animation: slide4-image2 10s ease 0s infinite normal;
            will-change: animation, opacity;
          }
        }

        &.slide5 {
          display: flex;
          align-items: center;

          .lead3 {
            position: absolute;
            width: 65%;
            animation: slide5-lead3 10s ease 0s infinite normal;
            will-change: animation, opacity;
          }
        }
      }
    }
  }
}

@keyframes slide1-img {
  0% {
    opacity: 0;
    width: 25%;
  }

  5% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  20% {
    opacity: 0;
    width: 30%;
  }

  100% {
    opacity: 0;
    width: 30%;
  }
}

@keyframes slide2-img {
  0% {
    opacity: 0;
    width: 35%;
  }

  15% {
    opacity: 0;
    width: 35%;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0;
    width: 45%;
  }

  100% {
    opacity: 0;
    width: 45%;
  }
}

@keyframes slide3-lead1 {
  0% {
    left: 100%;
  }

  35% {
    left: 100%;
  }

  37% {
    left: 8%;
  }

  53% {
    left: 3%;
  }

  55% {
    left: -100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes slide4-lead2 {
  0% {
    right: 100%;
  }

  55% {
    right: 100%;
  }

  57% {
    right: 8%;
  }

  73% {
    right: 3%;
  }

  75% {
    right: -150%;
  }

  100% {
    right: -150%;
  }
}

@keyframes slide4-image1 {
  0% {
    top: 100%;
  }

  55% {
    top: 100%;
  }

  57% {
    top: 8%;
  }

  73% {
    top: 3%;
  }

  75% {
    top: -100%;
  }

  100% {
    top: -100%;
  }
}

@keyframes slide4-image2 {
  0% {
    left: 100%;
  }

  55% {
    left: 100%;
  }

  57% {
    left: 58%;
  }

  73% {
    left: 53%;
  }

  75% {
    left: -100%;
  }

  100% {
    left: -100%;
  }
}

@keyframes slide5-lead3 {
  0% {
    left: -80%;
  }

  75% {
    left: -80%;
  }

  77% {
    left: 15%;
  }

  93% {
    left: 19%;
  }

  95% {
    left: 150%;
  }

  100% {
    left: 150%;
  }
}
