// main: style.scss
body {
  background-color: $astblack;
  color: $astwhite;
}

.bg-gray {
  background-color: $astgray;
}

.logo {
  img {
    height: 100%;
    max-height: 50px;
  }
}

.nav {
  .nav-link {
    color: $astwhite;
    border-color: $astwhite;
    font-size: 0.8rem;

    &:hover {
      color: $astpink;
      background-color: $astblack;
    }
  }
}

.table {
  color: $astwhite;
}

.badge-talent {
  color: $astwhite;
  background-color: $astred;
}

.line {
  img {
    height: 50px;
    display: block;
    margin: 0 30px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    border-top: 1px solid $astwhite;
    flex: 1;
  }
}
