// main: style.scss
body {
  background-color: $astblack;
  color: $astwhite;
}

.bg-gray {
  background-color: $astgray;
}

.table {
  color: $astwhite;
}

.badge-talent {
  color: $astwhite;
  background-color: $astred;
}

.line {
  img {
    height: 50px;
    display: block;
    margin: 0 30px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    border-top: 1px solid $astwhite;
    flex: 1;
  }
}
